extends main

block main

    .container.bg-light.rounded.m-0.p-0.mx-auto(style="width:100%; max-width:500px")
        .container.bg-primary.text-light.m-0.p-3.rounded-top
            h4.m-0 Agregar Orden de pedido
        .container.m-0.p-3
            form.form.needs-validation(novalidate='' action='/orders/add' method='POST')
                .form-row
                    .col-md.mb-3
                        label No. Pedido:
                        input.form-control(name="number" type='number' value=number readonly)
                    .col-md.mb-3
                        label Fecha de creaci&oacute;n:
                        input.form-control(name="creationDate" type='text' value=creationDate readonly)
                .form-row
                    .col-md.mb-3
                        label C&oacute;digo:
                        select.form-control(id="ItemCode" name="code" type='text' required='')
                            option(selected='')
                            each item in items
                                    option=item['code']
                        .invalid-feedback
                            | Por favor inserta el c&oacute;digo del &iacute;tem
                    .col-md.mb-3
                        label Nombre:
                        input.form-control(id="ItemName" name="name"  type='text' readonly)
                .form-row
                    .col-md.mb-3
                        label Cantidad:
                        input.form-control(type='number' name="quantity" required='')
                        .invalid-feedback
                            | Por favor inserta la cantidad del &iacute;tem que se va a pedir
                .form-row
                    .col-md.mb-3
                        label Fecha de cierre:
                        input.form-control(type='date' readonly)
                    .col-md.mb-3
                        label Estado:
                        input.form-control(name='status' type='text' value="Creada" readonly)
                .form-group
                    label Observaciones:
                    textarea.form-control(name='obs' rows='3')
                button.btn.btn-success.btn-lg.btn-block(type='submit') Guardar