<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="utf-8")
        title SGI | Sistema de Gestión de Inventarios
        link(rel="icon" href="/img/favicon.png")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //-Bootstrap CSS CDN
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"       integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
        //-Local styles
        link(rel="stylesheet" href="/styles.css")
        //-Font Awesome JS
        script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous")
        script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous")
        //-jQuery CDN
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
        //-Popper.JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
        //-Bootstrap JS
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
        //-Lottie
        script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
        //-Local scripts
        script(src="/main.js")
        script(src="/notify.js")
        
        body
            div.container-fluid.py-2.pl-4.bg-primary.text-white
                h2.m-0 Sistema de Gestión de Inventarios
            block header

    