extends layout

block header
    .wrapper
        // Sidebar
        nav#sidebar
            .sidebar-header
                h3 Men&uacute;
            ul.list-unstyled.components
                li
                    a.dropdown-toggle(href='#InventorySubmenu' data-toggle='collapse' aria-expanded='false') Inventarios
                    ul#InventorySubmenu.collapse.list-unstyled
                        li
                            a(href="/items") Items 
                        li
                            a(href="/referrals") Remisiones
                        li
                            a(href="/notes") Notas
                li
                    a.dropdown-toggle(href='#OrdersSubmenu' data-toggle='collapse' aria-expanded='false') Pedidos
                    ul#OrdersSubmenu.collapse.list-unstyled
                        li
                            a(href="/orders") Ordenes
                        li
                            a(href="/suppliers") Proveedores
                li
                    a.dropdown-toggle(href='#UsersSubmenu' data-toggle='collapse' aria-expanded='false') Usuarios
                    ul#UsersSubmenu.collapse.list-unstyled
                        li
                            a(href="/users") Usuarios
                li
                    a#Help.sb-options Ayuda
            ul.list-unstyled.CTAs
                li
                    a.exit(href='/logout') Cerrar sesi&oacute;n
        // Content
        #content.bg-dark.p-3
            // Sidebar button
            nav.navbar.navbar-expand-lg.p-0.mb-3.navbar-light.bg-light.rounded
                .container-sm.p-0.text-align-start
                    button#sidebarCollapse.navbar-btn.m-2(type='button')
                        span
                        span
                        span
                h2#navBarTitle.p-2 Bienvenido
            // Dynamic Content
            #mainContent
                block main
                