extends layout

block header
    .wrapper
        // Sidebar
        nav#sidebar
            .sidebar-header
                h3 Men&uacute;
            ul.list-unstyled.components
                li
                    a.dropdown-toggle(href='#InventorySubmenu' data-toggle='collapse' aria-expanded='false') Inventarios
                    ul#InventorySubmenu.collapse.list-unstyled
                        li
                            a#Items(href="items") Items 
                        li
                            a#Referrals(href="remisiones") Remisiones
                        li
                            a#Notes(href="notas") Notas
                li
                    a.dropdown-toggle(href='#OrdersSubmenu' data-toggle='collapse' aria-expanded='false') Pedidos
                    ul#OrdersSubmenu.collapse.list-unstyled
                        li
                            a#Orders(href="ordenes") Ordenes
                        li
                            a#Suppliers(href="proveedores") Proveedores
                li
                    a.dropdown-toggle(href='#UsersSubmenu' data-toggle='collapse' aria-expanded='false') Usuarios
                    ul#UsersSubmenu.collapse.list-unstyled
                        li
                            a#General(href="general") General
                        li
                            a#Admins(href="admins") Admins
                li
                    a#Help.sb-options Ayuda
            ul.list-unstyled.CTAs
                li
                    a.exit(href='index.html') Cerrar sesi&oacute;n
        // Content
        #content.bg-dark.p-3
            // Sidebar button
            nav.navbar.navbar-expand-lg.p-0.mb-3.navbar-light.bg-light.rounded
                .container-sm.p-0.text-align-start
                    button#sidebarCollapse.navbar-btn.m-2(type='button')
                        span
                        span
                        span
                h2#navBarTitle.p-2 Bienvenido
            // Dynamic Content
            #mainContent
            block main
    // Modal form (Add item)
    #AddItemModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar &Iacute;tem
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblCode') C&oacute;digo:
                                input#inpCode.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta un c&oacute;digo &uacute;nico para identificar el &iacute;tem
                            .col-md.mb-3
                                label(for='lblType') Tipo:
                                select#iptType.form-control(required='')
                                    option(selected='')
                                    option Insumo
                                    option Repuesto
                                .invalid-feedback
                                    | Por favor selecciona el tipo del &iacute;tem
                        .form-group
                            label(for='lblName') Nombre:
                            input#inpName.form-control(type='text' required='')
                            .invalid-feedback
                                | Por favor inserta un nombre para identificar el &iacute;tem
                        .form-row
                            .col-md.mb-3
                                label(for='lblSecStock') Nivel de seguridad:
                                input#inpSecStock.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta el nivel de seguridad de el &iacute;tem
                            .col-md.mb-3
                                label(for='lblQuantity') Cantidad:
                                input#inpQuantity.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta la cantidad actual del &iacute;tem
                        .form-group
                            label(for='lblSpecs') Especificaciones:
                            textarea#inpSpecs.form-control(rows='3' required='')
                            .invalid-feedback
                                | Por favor agrega algunas caracter&iacute;sticas sobre el &iacute;tem
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar            
    
    // Modal form (Add referral)
    #AddReferralModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar Remisi&oacute;n
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblReferralNum') No. Remisi&oacute;n:
                                input#inpReferralNum.form-control(type='number' disabled='')
                            .col-md.mb-3
                                label(for='lblCreationDate') Fecha de creaci&oacute;n:
                                input#inpCreationDate.form-control(type='date' disabled='')
                        .form-row
                            .col-md.mb-3
                                label(for='lblCode') C&oacute;digo:
                                input#inpCode.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el c&oacute;digo del &iacute;tem
                            .col-md.mb-3
                                label(for='lblName') Nombre:
                                input#inpName.form-control(type='text' disabled='')
                        .form-row
                            .col-md.mb-3
                                label(for='lblQuantity') Cantidad:
                                input#inpQuantity.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta la cantidad del &iacute;tem que se va a remisionar
                            .col-md.mb-3
                                label(for='lblJobOrder') No. Orden de trabajo:
                                input#inpJobOrder.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta el n&uacute;mero de la orden de trabajo asociada a esta remisi&oacute;n
                        .form-row
                            .col-md.mb-3
                                label(for='lblCloseDate') Fecha de cierre:
                                input#inpCloseDate.form-control(type='date' disabled='')
                            .col-md.mb-3
                                label(for='lblStatus') Estado:
                                input#inpStatus.form-control(type='text' disabled='')
                        .form-group
                            label(for='lblObs') Observaciones:
                            textarea#inpObs.form-control(rows='3')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar
    // Modal form (Add note)
    #AddNoteModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar Nota de inventario
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblNoteNum') No. Nota:
                                input#inpNoteNum.form-control(type='number' disabled='')
                            .col-md.mb-3
                                label(for='lblCreationDate') Fecha de creaci&oacute;n:
                                input#inpCreationDate.form-control(type='date' disabled='')
                        .form-row
                            .col-md.mb-3
                                label(for='lblCode') C&oacute;digo:
                                input#inpCode.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el c&oacute;digo del &iacute;tem
                            .col-md.mb-3
                                label(for='lblName') Nombre:
                                input#inpName.form-control(type='text' disabled='')
                        .form-row
                            .col-md.mb-3
                                label(for='lblType') Tipo:
                                select#iptType.form-control(required='')
                                    option(selected='')
                                    option Entrada
                                    option Salida
                                .invalid-feedback
                                    | Por favor selecciona el tipo de movimiento
                            .col-md.mb-3
                                label(for='lblQuantity') Cantidad:
                                input#inpQuantity.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta la cantidad del &iacute;tem que se va a ajustar
                        .form-group
                            label(for='lblReason') Motivo:
                            textarea#inpReason.form-control(rows='3')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar
    // Modal form (Add order)
    #AddOrderModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar Orden de pedido
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblReferralNum') No. Pedido:
                                input#inpReferralNum.form-control(type='number' disabled='')
                            .col-md.mb-3
                                label(for='lblCreationDate') Fecha de creaci&oacute;n:
                                input#inpCreationDate.form-control(type='date' disabled='')
                        .form-row
                            .col-md.mb-3
                                label(for='lblCode') C&oacute;digo:
                                input#inpCode.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el c&oacute;digo del &iacute;tem
                            .col-md.mb-3
                                label(for='lblName') Nombre:
                                input#inpName.form-control(type='text' disabled='')
                        .form-row
                            .col-md.mb-3
                                label(for='lblQuantity') Cantidad:
                                input#inpQuantity.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta la cantidad del &iacute;tem que se va a pedir
                        .form-row
                            .col-md.mb-3
                                label(for='lblCloseDate') Fecha de cierre:
                                input#inpCloseDate.form-control(type='date' disabled='')
                            .col-md.mb-3
                                label(for='lblStatus') Estado:
                                input#inpStatus.form-control(type='text' disabled='')
                        .form-group
                            label(for='lblObs') Observaciones:
                            textarea#inpObs.form-control(rows='3')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar
    // Modal form (Add supplier)
    #AddSupplierModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar Proveedor
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblId') Nit/CC:
                                input#inpId.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta la identificaci&oacute;n del proveedor
                            .col-md.mb-3
                                label(for='lblName') Raz&oacute;n social:
                                input#inpName.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta la raz&oacute;n social del proveedor
                        .form-row
                            .col-md.mb-3
                                label(for='lblContact') Contacto:
                                input#inpContact.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el nombre de la persona de contacto
                            .col-md.mb-3
                                label(for='lblPhone') Tel&eacute;fono:
                                input#inpPhone.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta el n&uacute;mero de telefono del proveedor
                        .form-row
                            .col-md.mb-3
                                label(for='lblAddress') Direcci&oacute;n:
                                input#inpCode.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta la direcci&oacute;n del proveedor
                            .col-md.mb-3
                                label(for='lblEmail') Correo:
                                input#inpEmail.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el correo electr&oacute;nico del proveedor
                        .form-group
                            label(for='lblObs') Observaciones:
                            textarea#inpObs.form-control(rows='3')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar
    // Modal form (Add user)
    #AddUserModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar Usuario
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblId') Id. Usuario:
                                input#inpId.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el id del usuario
                            .col-md.mb-3
                                label(for='lblName') Nombre:
                                input#inpName.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el nombre del usuario
                        .form-row
                            .col-md.mb-3
                                label(for='lblPosition') Cargo:
                                input#inpPosition.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el cargo del usuario
                            .col-md.mb-3
                                label(for='lblPhone') Tel&eacute;fono:
                                input#inpPhone.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta el n&uacute;mero de telefono del usuario
                        .form-row
                            .col-md.mb-3
                                label(for='lblEmail') Correo:
                                input#inpEmail.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el correo electr&oacute;nico del usuario
                            .col-md.mb-3
                                label(for='lblPassword') Contrase&ntilde;a:
                                input#inpPassword.form-control(type='password' required='')
                                .invalid-feedback
                                    | Por favor inserta una contrase&ntilde;a inicial para el usuario
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar
    // Modal form (Add admin)
    #AddAdminModalForm.modal.fade
        .modal-dialog
            .modal-content.rounded
                // Modal Header
                .modal-header.bg-primary.text-light
                    h4.modal-title Agregar Administrador
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    form#myform.form.needs-validation(novalidate='' action='#')
                        .form-row
                            .col-md.mb-3
                                label(for='lblId') Id. Usuario:
                                input#inpId.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el id del administrador
                            .col-md.mb-3
                                label(for='lblName') Nombre:
                                input#inpName.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el nombre del administrador
                        .form-row
                            .col-md.mb-3
                                label(for='lblPosition') Cargo:
                                input#inpPosition.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el cargo del administrador
                            .col-md.mb-3
                                label(for='lblPhone') Tel&eacute;fono:
                                input#inpPhone.form-control(type='number' required='')
                                .invalid-feedback
                                    | Por favor inserta el n&uacute;mero de telefono del administrador
                        .form-row
                            .col-md.mb-3
                                label(for='lblEmail') Correo:
                                input#inpEmail.form-control(type='text' required='')
                                .invalid-feedback
                                    | Por favor inserta el correo electr&oacute;nico del administrador
                            .col-md.mb-3
                                label(for='lblPassword') Contrase&ntilde;a:
                                input#inpPassword.form-control(type='password' required='')
                                .invalid-feedback
                                    | Por favor inserta una contrase&ntilde;a inicial para el administrador
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Guardar
