extends main

block main

    // Cards deck (Suppliers)
    .card-deck
        // Add supplier card
        .card
            lottie-player(src='https://assets8.lottiefiles.com/packages/lf20_tf6wSv.json' background='transparent' speed='1' style='width: 100%; height: 200px;' loop='' autoplay='')
            .card-body
                h4.card-title Crear proveedor
                p.card-text Agrega un nuevo registro si necesitas crear un nuevo proveedor al sistema
                a.btn.btn-primary.btn-lg.btn-block(href="/suppliers/add" role="button")
                    | Agregar
        // Search supplier card
        .card
            lottie-player(src='https://assets9.lottiefiles.com/datafiles/Pfr5NhU9MuhGM5L/data.json' background='transparent' speed='1' style='width: 100%; height: 200px;' loop='' autoplay='')
            .card-body
                h4.card-title Consultar proveedor
                p.card-text Consulta informaci&oacute;n relevante acerca de un proveedor registrado en el sistema
                a.btn.btn-primary.btn-lg.btn-block(href="/suppliers/search" role="button")
                    | Consultar
